* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw !important;
    height: 100vh !important;
    background-color: #f2a900c7;
}
.body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 15rem;
}
p {
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
div.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 200px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}